// Styles for the map (formerly in the shortcode, but no more!)
.map-column {
  display:inline-block;
  vertical-align:top;
}
.map-column-left {
  height:500px;
  width:660px;
}
.map-column-right {
  min-height:500px;
  width:320px;
  background:#fff;
  .next { padding:0 40px 20px; }
}
#map-explanation {
  padding:30px 40px;
}
#addressSearchForm {
  padding:16px 40px;
  background:#e9f5fb url('../images/arrow-down.png') no-repeat 7px 30px;
  &.results { background-image:none;
    .form-elements { display:none; }
    ul { list-style-type:none; margin:0; padding:0; }
    li {
      list-style-type:none;
      font-size:12px;
      line-height:22px;
      margin:0;
      padding:0;
      strong { color:$eggshell; }
    }
    .address { font-weight:bold; padding-left:17px; background:transparent url('../images/marker.png') no-repeat 0 0; } }
}

.divTitle {
	background:#62B1E0;
	opacity:0.85;
	padding: 5px;
}
#title {
	font-size: x-large;
	color: #111;
}
#subtitle {
	font-size: small;
	color: #111;
}
#notes {
	font-size: xx-small;
	color: #111
}
.legend {
	background: #fff;
	border-color: #62B1E0;
	border-style: solid;
  border-width: 1px;
	padding: 5px;
	line-height: 20px;
	color: #555;
	span {
	  color: #444;
	  font-family: $mont; }
  i {
  	width: 15px;
  	height: 15px;
  	float: left;
  	margin-right: 5px;
  	margin-left: 7px;
  	opacity: .8;
  	color: #555; }
}

#toggle {
	font-size: large;
	font-family: $mont;
	color: #333;
}

#map-canvas {
  height: 100%;
	width: 100%;

  .leaflet-control-layers {
    opacity: 75;
    background:#fff;
    border-style: solid;
    border-width: 1px;
    border-color: #62B1E0;
    input {
      float: left;
      clear: none;
      margin: 8px 9px 0 2px;
      color: #62B1E0; }
    label {
      display:block;
      clear:both;
      line-height:30px;
      font-family: $mont;
      font-size: larger;
      color: #62B1E0; }
  }

  // Changing/Not Changing icon in the popup
  .leaflet-popup-content p { margin:10px 0; }
  .change {
    margin:8px 0 10px;
    display:none;
    color:$eggshell;
    .icon-change {
      @include inline-block;
      @include border-radius(20px);
      background:$eggshell none no-repeat center center;
      height:20px;
      width:20px;
      margin-right:6px; }
    &.changing,
    &.not { display:block; }
    &.changing .icon-change { background-image:url('../images/icon-changing.png'); }
    &.not .icon-change { background-image:url('../images/icon-notchanging.png'); }
  }
}


.queryResults {
	font-family: $mont;
	font-size: small; }