/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
em {
  font-style: italic; }

strong {
  font-weight: bold; }

small {
  font-size: 75%; }

h1 {
  font: bold 18px/24px Montserrat, Arial, sans-serif;
  color: #318abc; }

p, li {
  margin: 1em 0; }

ul li {
  list-style-type: disc; }

ol li {
  list-style-type: decimal; }

ul, ol {
  margin-left: 2em; }

small {
  font-size: 11px; }

a {
  color: #6dbfe6;
  text-decoration: none;
  outline: 0;
  cursor: pointer; }

a:hover, a:focus {
  color: #318abc;
  text-decoration: none; }

p a, p a:visited {
  line-height: inherit; }

/* #Site Styles
================================================== */
body {
  background: #fcfcf6;
  font: 14px/18px Montserrat, Arial, sans-serif;
  color: #636466;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%; }

#wrap {
  position: relative;
  width: 1020px;
  margin: 0 auto; }
  #wrap > div {
    position: relative;
    width: 100%; }
  @media only screen and (max-width: 767px) {
    #wrap {
      width: auto;
      padding: 0 20px; } }

#header {
  height: 113px; }
  #header .logo {
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    height: 43px;
    width: 284px;
    background: transparent url("../images/logo.png") no-repeat 0 0; }
  #header .sublogo {
    position: absolute;
    top: 40px;
    left: 305px;
    font-size: 16px;
    color: #318abc;
    width: 320px; }
  @media only screen and (max-width: 767px) {
    #header {
      height: 140px; }
      #header .logo {
        top: 22px; }
      #header .sublogo {
        top: 75px;
        width: 284px;
        font-size: 15px; }
      #header .logo, #header .sublogo {
        left: 50%;
        margin-left: -142px; } }
  #header .socials {
    position: absolute;
    top: 42px;
    right: 40px; }
  #header .social {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    background: transparent url("../images/socials.png") no-repeat 0 0; }
    .ie-7 #header .social {
      display: inline; }
  #header .social-facebook {
    background-position: 0 0; }
  #header .social-twitter {
    background-position: -20px 0; }

#navigation {
  height: 43px;
  /*.subscribe {
    display:block;
    display:none;
    position:absolute;
    right:0;
    top:0;
    margin:0;
    padding:0 103px 0 0;
    padding-right:0;
    .input-goaway { position:absolute; left:-50000px; top:-50000px; }
    .input-email {
      width:218px;
      padding:5px 14px;
      height:46px - (14px * 2); }
    .submit {
      display:none;
      position:absolute;
      top:7px;
      right:0;
    }
  }*/ }
  #navigation ul, #navigation li {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  #navigation li {
    float: left; }
    #navigation li:first-child {
      display: none; }
  #navigation .menu-item a {
    position: relative;
    display: block;
    background: #6dbfe6;
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    padding: 10px 15px;
    margin-right: 16px;
    float: left; }
    #navigation .menu-item a:hover, #navigation .menu-item a.open {
      background-color: #318abc; }
  #navigation .menu-item.current-menu-item a, #navigation .menu-item.current-page-ancestor a {
    background-color: white;
    color: #318abc; }
  #navigation .page-item-6 a {
    width: 40px; }
  #navigation .page-item-24 a {
    width: 167px; }
  #navigation .page-item-92 a {
    width: 183px; }
  #navigation .page-item-96 a {
    width: 109px; }
  #navigation .page-item-53 a {
    width: 74px; }
  @media only screen and (max-width: 767px) {
    #navigation {
      height: auto; }
      #navigation ul {
        max-height: 43px;
        overflow: hidden;
        -webkit-transition: 1s 0.1s ease-out;
        -moz-transition: 1s 0.1s ease-out;
        -o-transition: 1s 0.1s ease-out;
        -ms-transition: 1s 0.1s ease-out;
        transition: 1s 0.1s ease-out; }
        #navigation ul.open {
          max-height: 1000px; }
      #navigation li:first-child, #navigation li, #navigation .menu-item a {
        display: block; }
      #navigation li:first-child a {
        background-image: url("../images/menu.png");
        background-repeat: no-repeat;
        background-position: 95% 15px; }
      #navigation .menu-item a {
        margin-bottom: 2px;
        cursor: pointer;
        width: auto; } }
  #navigation .button-signup {
    position: absolute;
    top: 0;
    right: 40px;
    display: block;
    width: 174px;
    height: 14px;
    background: #6dbfe6 url("../images/mail.png") no-repeat 15px 8px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: white;
    font: bold 14px/14px Montserrat, Arial, sans-serif;
    text-transform: uppercase;
    padding: 8px 10px 8px 56px; }
    #navigation .button-signup:hover {
      background-color: #318abc; }

.mobile-heading {
  display: none;
  color: #318abc;
  font: 700 18px/1.2em Montserrat, Arial, sans-serif;
  padding: 30px 0 15px; }
  @media only screen and (max-width: 767px) {
    .mobile-heading {
      display: block; } }

#content {
  background: white;
  min-height: 300px; }
  .home #content {
    background: none; }
    .home #content > a {
      display: block;
      margin: 20px auto;
      text-align: center; }
  .error404 #content, .page-template-page-fullwidth-php #content {
    background: none; }
    .error404 #content h1, .error404 #content p, .page-template-page-fullwidth-php #content h1, .page-template-page-fullwidth-php #content p {
      text-align: center;
      padding: 10px 40px; }
    .error404 #content h1, .page-template-page-fullwidth-php #content h1 {
      padding-top: 110px; }
  #content .column {
    display: inline-block;
    vertical-align: top;
    width: 426px;
    padding: 25px 32px; }
    .ie-7 #content .column {
      display: inline; }
    #content .column:first-child:after {
      content: '';
      background: transparent url("../images/shade.png") repeat-y 0 0;
      height: 100%;
      width: 7px;
      position: absolute;
      left: 490px;
      top: 0; }
      @media only screen and (max-width: 767px) {
        #content .column:first-child:after {
          display: none; } }
  #content strong {
    color: #318abc; }
  #content .expand.open {
    font-weight: bold;
    color: #318abc; }
  #content .expand .plus {
    margin-left: 5px; }
  #content .expand-section {
    display: none; }
  #content .box-caution,
  #content .box-current {
    display: block;
    position: relative;
    padding: 10px 20px;
    margin: 0 0 1em;
    list-style-type: none; }
  #content .box-current {
    background: #e9f5fb; }
  #content .box-caution {
    background: #fbf8dd;
    border: 2px solid #f0d100;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 30px 20px 10px;
    text-align: center; }
    #content .box-caution strong {
      color: #636466; }
    #content .box-caution a {
      color: #bda500; }
      #content .box-caution a:hover {
        color: #8a7800; }
    #content .box-caution:after {
      content: '';
      display: block;
      position: absolute;
      top: -12px;
      left: -20px;
      margin-left: 50%;
      width: 40px;
      height: 34px;
      background: transparent url("../images/caution.png") no-repeat 0 0; }
    #content .box-caution .caution-close {
      display: block;
      padding: 9px 4px;
      margin: 7px auto 0;
      width: 50px;
      text-align: center;
      background: #f0d100;
      font: bold 14px/14px Montserrat, Arial, sans-serif;
      text-transform: uppercase;
      color: white;
      cursor: pointer;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px; }
      #content .box-caution .caution-close:hover {
        background: #bda500; }
  #content #current-zone-box p {
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 0;
    line-height: 22px; }
    #content #current-zone-box p.heading {
      font-size: 14px; }
      #content #current-zone-box p.heading strong {
        color: #318abc; }
    #content #current-zone-box p.half {
      display: inline-block;
      vertical-align: top;
      width: 49%; }
      .ie-7 #content #current-zone-box p.half {
        display: inline; }
    #content #current-zone-box p strong {
      font-weight: bold;
      color: #6dbfe6; }
  #content #current-zone-box .marker {
    display: inline-block;
    vertical-align: top;
    height: 18px;
    width: 11px;
    margin-right: 6px;
    background: transparent url("../images/marker.png") no-repeat 0 0; }
    .ie-7 #content #current-zone-box .marker {
      display: inline; }
  #content .next {
    text-align: right; }
    #content .next a {
      display: inline-block;
      vertical-align: top;
      color: #318abc;
      font-size: 16px;
      line-height: 20px;
      height: 30px;
      width: 46px;
      background: #318abc url("../images/next-arrow.png") no-repeat center center;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      margin-top: -5px;
      margin: -5px 0 0 5px; }
      .ie-7 #content .next a {
        display: inline; }
      #content .next a:first-child {
        height: auto;
        width: auto;
        background: none;
        max-width: 370px;
        text-indent: 0;
        margin: 0; }
  @media only screen and (max-width: 767px) {
    #content {
      min-height: 0; }
      #content h1 {
        display: none; }
      #content .column {
        display: block;
        width: auto;
        padding: 10px 20px; }
      #content #current-zone-box {
        display: none; } }

#subnav {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  #subnav li {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  #subnav .link-back {
    display: none; }
  #subnav a {
    position: relative;
    display: block;
    font-weight: 700;
    font-size: 16px;
    color: #6dbfe6;
    padding: 7px 10px;
    line-height: 20px;
    margin: 10px 0 10px -10px;
    width: 448px; }
  #subnav .current_page_item a,
  #subnav a:hover {
    color: #318abc; }
  #subnav .current_page_item a {
    color: white;
    background: #236184 url("../images/gradient.png") repeat-x 0 0; }
    #subnav .current_page_item a:after {
      content: '';
      display: block;
      position: absolute;
      top: -12px;
      right: -24px;
      height: 59px;
      width: 24px;
      background: transparent url("../images/shade-arrow.png") no-repeat 0 center;
      z-index: 100; }
  @media only screen and (max-width: 767px) {
    #subnav.subpage li {
      display: none; }
    #subnav.subpage .link-back {
      display: block; }
    #subnav a {
      width: auto; } }

#footer {
  padding: 30px 0 20px; }
  #footer .footer-logo {
    display: block;
    position: absolute;
    top: 90px;
    right: 40px;
    width: 220px;
    height: 31px;
    background: transparent url("../images/footer-logo.png") no-repeat center center; }
  #footer p {
    font-size: 10px;
    line-height: 13px;
    color: #636466;
    width: 660px;
    text-align: justify; }

form {
  position: relative; }
  form .input-hidden {
    position: absolute;
    top: -999999px; }
  form .input-text,
  form textarea {
    display: inline-block;
    border: 1px solid #c6c6c6;
    font: bold 14px/20px Montserrat, Arial, sans-serif;
    color: #9e9fa1;
    color: #636466;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 200px;
    padding: 6px 10px;
    outline: 0;
    resize: none;
    margin: 0 0 10px 0; }
    form .input-text:focus,
    form textarea:focus {
      border-color: #6dbfe6;
      color: #636466;
      outline: 0; }
    form .input-text.error,
    form textarea.error {
      border-color: red; }
  form label.error {
    display: block;
    position: relative;
    font-size: 12px;
    font-weight: normal;
    padding-left: 14px;
    color: red;
    margin: -8px 0 7px; }
  form .submit,
  form .cancel {
    display: block;
    width: 242px;
    padding: 9px 0;
    margin: 10px auto 0;
    border: none;
    text-align: center;
    background: #6dbfe6;
    font: bold 14px/14px Montserrat, Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }
    form .submit:hover,
    form .cancel:hover {
      background: #318abc; }
    form .submit.clear,
    form .cancel.clear {
      background: #bbb; }
  form .submitbutton {
    display: inline-block;
     width: 70px;
     #width: 25%;
     height: 35px;
    padding: 9px 0;
    border: none;
    text-align: center;
    background: #6dbfe6;
    font: bold 14px/14px Montserrat, Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
	margin-left: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }
    form .submitbutton:hover {
      background: #318abc; }	  
  form .cancel {
    background: #636466; }
  form .label-address {
    position: relative;
    display: inline-block;
    padding-right: 5px; }
    form .label-address strong {
      display: block;
      padding-left: 4px;
      color: #318abc;
      font-size: 18px;
      line-height: 34px; }
   /* form .label-address:after {
      content: '';
      display: block;
      height: 24px;
      width: 25px;
      position: absolute;
      top: 39px;
      right: 7px;
      background: transparent url("../images/home-search.png") no-repeat right center; }
  */
.table {
  margin: 0 0 10px 0;
  width: 100%; }
  .table th, .table td {
    font-size: 11px;
    text-align: center;
    border-bottom: 1px solid #e7f4fc;
    border-left: 1px solid #e7f4fc;
    width: 25%;
    padding: 2px 0;
    vertical-align: middle; }
    .table th:first-child, .table td:first-child {
      border-left: none; }
    .table th.double, .table td.double {
      width: 50%; }
  .table .heading1 {
    background: #6dbfe6;
    color: #fff;
    font-size: 14px;
    font-weight: bold; }
  .table .heading2 {
    color: #6dbfe6;
    font-weight: bold;
    text-transform: uppercase; }
  .table .heading3 {
    color: #6dbfe6; }
  .table .even td {
    background: #e7f4fc; }

#content .open .q-question {
  padding-top: 30px; }
#content .q {
  display: none; }
  #content .q.q-first {
    display: block; }
  #content .q.box-current {
    margin-top: 20px;
    padding: 1em 2em; }
#content .q-buttons {
  text-align: center; }
#content .q-button {
  display: inline-block;
  vertical-align: top;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #6dbfe6;
  color: #fff;
  padding: 4px 10px;
  margin: 5px 10px 0 0; }
  .ie-7 #content .q-button {
    display: inline; }
  #content .q-button:hover, #content .q-button.selected {
    color: #fff;
    background: #318abc; }
#content #cyoa-email {
  display: none;
  width: 250px;
  margin: -20px auto 80px; }
#content #cyoa-email-sent {
  text-align: center;
  padding: 0 40px 50px; }

.map-column {
  display: inline-block;
  vertical-align: top; }

.map-column-left {
  height: 500px;
  #width: 660px; 
   width: 64.7%;
   }

.map-column-right {
  min-height: 500px;
  #width: 360px;
   width: 35.3%;
  background: #fff; }
  .map-column-right .next {
    padding: 0 40px 20px; }

#map-explanation {
  padding: 10px 40px 20px; }
  #map-explanation p {
    font-size: 12px;
    line-height: 16px; }

#addressSearchForm {
  padding: 10px 10px 10px 40px;
  background: #e9f5fb url("../images/arrow-down.png") no-repeat 7px 30px; }
  #addressSearchForm.results {
    background-image: none; }
    #addressSearchForm.results .form-elements {
      display: none; }
    #addressSearchForm.results ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
    #addressSearchForm.results li {
      list-style-type: none;
      font-size: 12px;
      line-height: 22px;
      margin: 0;
      padding: 0; }
      #addressSearchForm.results li strong {
        color: #6dbfe6; }
    #addressSearchForm.results .address {
      font-weight: bold;
      padding-left: 17px;
      background: transparent url("../images/marker.png") no-repeat 0 0; }

.divTitle {
  background: #62B1E0;
  opacity: 0.85;
  padding: 5px; }

#title {
  font-size: x-large;
  color: #111; }

#subtitle {
  font-size: small;
  color: #111; }

#notes {
  font-size: xx-small;
  color: #111111; }

.legend {
  background: #fff;
  border-color: #62B1E0;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  line-height: 20px;
  color: #555; }
  .legend span {
    color: #444;
    font-family: Montserrat, Arial, sans-serif; }
  .legend i {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 5px;
    margin-left: 7px;
    opacity: .8;
    color: #555; }

#toggle {
  font-size: large;
  font-family: Montserrat, Arial, sans-serif;
  color: #333; }

#map-canvas {
  height: 100%;
  width: 100%; }
  #map-canvas .leaflet-control-layers {
    opacity: 75;
    background: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #62B1E0; }
    #map-canvas .leaflet-control-layers input {
      float: left;
      clear: none;
      margin: 8px 9px 0 2px;
      color: #62B1E0; }
    #map-canvas .leaflet-control-layers label {
      display: block;
      clear: both;
      line-height: 30px;
      font-family: Montserrat, Arial, sans-serif;
      font-size: larger;
      color: #62B1E0; }
  #map-canvas .leaflet-popup-content p {
    margin: 10px 0; }
  #map-canvas .change {
    margin: 8px 0 10px;
    display: none;
    color: #6dbfe6; }
    #map-canvas .change .icon-change {
      display: inline-block;
      vertical-align: top;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      background: #6dbfe6 none no-repeat center center;
      height: 20px;
      width: 20px;
      margin-right: 6px; }
      .ie-7 #map-canvas .change .icon-change {
        display: inline; }
    #map-canvas .change.changing, #map-canvas .change.not {
      display: block; }
    #map-canvas .change.changing .icon-change {
      background-image: url("../images/icon-changing.png"); }
    #map-canvas .change.not .icon-change {
      background-image: url("../images/icon-notchanging.png"); }

.queryResults {
  font-family: Montserrat, Arial, sans-serif;
  font-size: small; }

#lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 999998; }

#lightbox {
  position: fixed;
  top: 10%;
  left: 50%;
  margin-left: -240px;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 30px 30px;
  z-index: 999999; }
  #lightbox .button-close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 16px;
    width: 16px;
    background: transparent url("../images/lightbox-close.png") no-repeat 0 0; }
  #lightbox h1, #lightbox p {
    text-align: center; }
  #lightbox form {
    width: 245px;
    margin: 20px auto 0; }
